

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background: #30cfd0;
    font-family: sans-serif;
    transition: all 0.3s ease;
}

/* .navbar.sticky {
    padding: 30px 0;
    background: crimson;
} */

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.4s;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover {
    color: crimson;

}



/* Home section styling */
.home {
    display: flex;
    /* background-image: linear-gradient(#c4cac6, #1f2a37); */
    height: 100vh;
    color: #fff;
    min-height: 500px;

}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;

}

.home-content p {
    font-size: 20px;
}


.home .home-content .text-2 {
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;

}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #FFFFFF;
    font-size: 23px;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}

/* menu-btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* About section styling */

section {
    padding: 100px 0;
}

.about, .services, .skills, .teams {
    font-family: Arial, Helvetica, sans-serif;

}

/* .about .title {
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.about .title::after {
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: white;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 7px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
    color: #fff;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
} */



/* skills section styling */

.skills {
    display: grid;
    justify-content: center;
    align-items: center;
}


.skills .title {
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* .skills .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.skills .title::after {
    content: "experience";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
} */

.skill-bars {
    padding: 25px 30px;
    width: 900px;
    /* box-shadow: 5px 5px 20px rgba(0,0,0,0.2); */
    border-radius: 10px;
    margin-bottom: 100px;
    box-shadow: 4px 4px black;
}

.bar {
    margin-bottom: 15px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info span {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.bar .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.bar .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.bar .html::before {
    width: 90%;
}

.bar .css::before {
    width: 80%;
}

.bar .javascript::before {
    width: 65%;
}

.bar .react::before {
    width: 75%;
}

/* contact styling */

.contact {
    display: grid;
    margin-bottom: 100px;
    padding: 20px;
}

.contact .title {
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}

/* .contact .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.contact .title::after {
    content: "contact";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
} */

.form {
    padding: 30px;
    margin-top: 20px;
    font-size: 20px;
    width: 50%;
}


.form .btn:hover {
    color: crimson;
    background: none;
}

.form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.form .btn {
    display: inline-block;
    background: crimson;
    color: #FFFFFF;
    font-size: 23px;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

textarea {
    width: 70%;
    font-size: 18px;
    padding: 10px;
    
}




/* footer section styling */



.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: #FFFFFF;

}

.footer p {
    font-size: 20px;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa-brands{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    font-size: 30px;
    padding: 18px 0;
}

.fa-regular {
    color: #f44336;
}


































/* media query start */

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }


}
@media (max-width: 1104px){
    .home .max-width {
        margin-left: 0px;
    }

    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 947px) {

    .menu-btn {
        display: block;
        z-index: 999;
    }


    .max-width {
        padding: 0 50px;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        text-align: center;
        background: #111;
        left: -100%;
        top: 0;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .about .about-content .coloumn {
        width: 100%;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column-left {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 30px;
    }

    .home .home-content a {
        font-size: 18px;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .skills .skills-content .column-left {
        width: 100%;
    }

}

@media (max-width: 500px) {
    .skill-bars {
        width: 400px;
    }

    .form {
        width: 100%;
    }
}